In [1]:
print()

In [3]:
print(5+2)
# ye real print hai

7

In [5]:
5+7
# ye jupyter ka intermediate output hai .

12

In [6]:
print("1+3")

1+3

In [7]:
# float data types

In [8]:
3.5+1

4.5

In [10]:
'scaler's data science program'

SyntaxError: unterminated string literal (detected at line 1) (3327839582.py, line 1)

In [11]:
"scaler's data science program"
# ye samjha rana ji

"scaler's data science program"

In [12]:
print('hello \n world')

hello
 world

In [13]:
'hello \n world'

'hello \n world'

In [15]:
# python is not compiler but it is interepreted language.

In [16]:
# print ("""scaler's ds program""")

In [17]:
#  boolan data type = isme humo capital T and capital F likhna hai

In [18]:
True

True

In [19]:
False

False

In [20]:
false

NameError: name 'false' is not defined

In [23]:
x = 5 
print (x)

5

In [24]:
x =6
#  bas itne se hi isme initialze hogya hai

In [25]:
type(x)

int

In [26]:
type(5)

int

In [28]:
x = "python"
print(x)

# isliye isko dynamic typed langauge kehte ahi

python

In [30]:
type(x)
# this x is instance of class and string

str

In [31]:
#python is oop languge. every varilvbe that i create wo sab implemtent  in class and object  .

In [33]:
print(type(x))

<class 'str'>

In [34]:
8/3

2.6666666666666665

In [35]:
10/2

5.0

In [36]:
# floor division
8//2

4

In [37]:
-8//3

-3

In [39]:
# moduleus operator
8%3

2

In [40]:
# expontntial operator

In [41]:
print(2**5)

32

In [42]:
-8%3
# remainder can never be negative
# 9-8 =1

1

In [43]:
print(2**(-2))

0.25

In [44]:
age = 21
if age >= 18:
    print ("you are eligible")

you are eligible

In [46]:
age = 21
if (age >= 18):
    print ("you are eligible")

you are eligible

In [47]:
# indentation is very imp in python0.

In [50]:
age = 17
if age >= 18:
    print ("you are eligilbe")
elif(age>16):
    print("almost , but not eligible ")
else:
    print ("go home kid")

almost , but not eligible

In [51]:
# ternary operator.

In [53]:
signal ="green"
action = "stop" if signal =='red' else "go"
print (action)

go

In [54]:
for i in range(5):
    print (i)
#     (0 to n-1)

0
1
2
3
4

In [55]:
print()

In [61]:
for i in range(1,11):
    
    print (i , end = "-")

1-2-3-4-5-6-7-8-9-10-

In [63]:
for i in range(1,21):
    if i % 2 ==0 :
        print(i , end = "-")

2-4-6-8-10-12-14-16-18-20-

In [1]:
for i in range(1,21,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

In [7]:
for i in range(10,1):
    print(i, end ="-")

In [4]:
for i in range(10,1,-1):
    print(i, end =" ")
#     -1 is the step size

10 9 8 7 6 5 4 3 2

In [ ]:
input

In [ ]:
# input()
# input() likhne baad shift enter krenge to * aayega matlab ye apne aageke liye wait krrha hai ..

In [17]:
cmd = input("Input a command : ")

Input a command : PWD

In [18]:
while cmd != 'exit':
    print(cmd)
    cmd = input("input a command : ")

PWD
input a command : zip
zip
input a command : xip
xip
input a command : rana
rana
input a command : 4
4
input a command : exit

In [19]:
input()

anything

'anything'

In [20]:
_

'anything'

In [25]:
def is_even(num):
    """
    checks id number is even or odd??
    input = num 
    output = boolean
    """
    return num%2==0

In [26]:
is_even (8)

True

In [27]:
is_even(7)

False

In [28]:
print ("""_summary_
Args: n(_type_): _description_
Returns : _type_: _description_ """)

_summary_
Args: n(_type_): _description_
Returns : _type_: _description_

In [29]:
###List

In [30]:
# list in python are heterogenous

In [18]:
marks = [90, 100 , 50,80]

In [19]:
print(marks)

[90, 100, 50, 80]

In [20]:
type(marks)

list

In [80]:
marks = [90, 100 , 50,80]
print (marks)

[90, 100, 50, 80]

In [81]:
print(marks[0])

90

In [82]:
marks[2]

50

In [83]:
len(marks)

4

In [84]:
marks[len(marks) -1]

80

In [85]:
# negative indexing

In [86]:
marks[-1]

80

In [87]:
marks[-2]

50

In [88]:
# slicing

In [89]:
marks

[90, 100, 50, 80]

In [90]:
 marks[1:2]

[100]

In [91]:
marks[:2]

[90, 100]

In [92]:
marks[1:]
# here start with index 1

[100, 50, 80]

In [93]:
marks[:]

[90, 100, 50, 80]

In [94]:
# LAST WALA 1 IS THE STEP SIZE
marks[1:2:1]

[100]

In [95]:
marks[::-1]

[80, 50, 100, 90]

In [96]:
# data science is more about experiment isliye hum inbuit fncn hi use krte ahi aur experiment krte hai ..
# inbuilt functions are fast..
# time bachta hai..

In [97]:
[1,2,3] + [4,5]

[1, 2, 3, 4, 5]

In [98]:
[1,2,3]*2

[1, 2, 3, 1, 2, 3]

In [99]:
[1,2,3] * [1,2,3]

TypeError: can't multiply sequence by non-int of type 'list'

In [100]:
for ele in marks:
    print(ele**2)
    
# ncihe me error isliye de rha hai qki string bhi mene ek rakha hai na "absent" naam se

8100
10000
2500
6400

In [101]:
a=[10,20,30]
b = a
c = [10,20,30]
d = list(a)
e = a[:]

In [102]:
print(a==a)
print(a==b)
print(a==c)
print(a==d)
print(a==e)

True
True
True
True
True

In [103]:
a[0] = 100

In [104]:
print(a==a)
print(a==b)
print(a==c)
print(a==d)
print(a==e)

True
True
False
False
False

In [105]:
id(a)
#  id is the identiity of onject

2361643555584

In [106]:
id(b)

2361643555584

In [107]:
id(c)

2361644737856

In [108]:
id(d)

2361625347584

In [109]:
id(e)

2361643554432

In [110]:
a is b

True

In [111]:
print (a is b)
print (a is c)

True
False

In [112]:
marks.append(5)

In [113]:
print(marks)

[90, 100, 50, 80, 5]

In [114]:
marks.append([10,20])

In [115]:
print(marks)

[90, 100, 50, 80, 5, [10, 20]]

In [116]:
marks.extend([200,300])

In [117]:
marks

[90, 100, 50, 80, 5, [10, 20], 200, 300]

In [122]:
matrix = [[1,2,3],[4,5,6],[6,7,8]]

In [123]:
print(matrix)

[[1, 2, 3], [4, 5, 6], [6, 7, 8]]

In [124]:
matrix[2][1]

7

In [125]:
s ="scaler"

In [126]:
list(s)

['s', 'c', 'a', 'l', 'e', 'r']

In [127]:
for i in s :
    print (i, end=" ")

s c a l e r

In [130]:
st = """hellor sir ,
hope yout are fine"""

In [131]:
print(st)

hellor sir ,
hope yout are fine

In [132]:
st = "alesa switch off the light"

In [133]:
# stign slicing

In [137]:
st[6:17]

'switch off '

In [138]:
st[::-1]

'thgil eht ffo hctiws asela'

In [140]:
s = "HELLO WORLd"

In [141]:
s[0] = "y"

TypeError: 'str' object does not support item assignment

In [142]:
id(s)

2361645233456

In [144]:
a = 5
print(id(a))
a += 4
print(id(a))

# dono ka alag address hai dekh..

140736752489384
140736752489512

In [145]:
a ="hello"
b = a
c = str(a)
d = a[:]
e = "hello"

In [146]:
print (a,b,c,d,e)

hello hello hello hello hello

In [148]:
print(a==a)
print(a==c)
print(a==d)
print(a==e)
print(a==b)

True
True
True
True
True

In [150]:
print(a is a)
print(a is b)
print(a is c)
print(a is d)
print(a is e)

# string interning  =

True
True
True
True
True

In [151]:
no1 = 2
no2 = 3

In [152]:
id(no1)

140736752489288

In [153]:
id(no2)

140736752489320

In [154]:
no3 = 4000
no4 = 10000

In [155]:
id(no3)

2361644988944

In [156]:
id(no4)

2361644988368

In [157]:
# no1 and no2 me id's same hoga ya jyada diffence nahi hoga lekin whi no3 and no4 me id's very different honge..

In [160]:
length = 5
breadth = 3
area = length * breadth
print (f"area of rectangle having length {length} and breadth {breadth} = area")

area of rectangle having length 5 and breadth 3 = area

In [163]:
print ("area of rectangle having length {} and breadth {} = {}".format(length, breadth,area))

area of rectangle having length 5 and breadth 3 = 15

In [164]:
# lecture 2 :- python refresher 2

In [166]:
tup = (12,3,4,5)
tup

(12, 3, 4, 5)

In [167]:
tup[0]

12

In [168]:
tup[-1]

5

In [169]:
tup[1:-1]

(3, 4)

In [170]:
# tuples are immutable

In [171]:
# strings are alos immutable

In [172]:
tup[0] =10

TypeError: 'tuple' object does not support item assignment

In [173]:
# why anyone wants to use tupeles??
# to secure data like salary jo fix kiya mene wo koi aur change nahi kr payga..

In [175]:
# tuples =read only list , dont want to mdify.. tupes are 10 time faster than list .. only read the data.

In [177]:
(1,2,3)+(4,5)
# both ip and op are different object , op diff loaction me create hoga

(1, 2, 3, 4, 5)

In [178]:
"hello" + "world"

'helloworld'

In [179]:
(1,2,3) * 2

(1, 2, 3, 1, 2, 3)

In [181]:
(1,2,3) *(1,2,3)

TypeError: can't multiply sequence by non-int of type 'tuple'

In [183]:
t1 = ("ram" , 56, [1,2,3,4] , True)

In [184]:
t1[2][0]

1

In [185]:
t1[2][0] = 100

In [186]:
print(t1)

('ram', 56, [100, 2, 3, 4], True)

In [188]:
# upar me t1 me chang isliye hua qki hum list me changekarr rhe hai na ki tuples me ..

In [189]:
t1 = ("ram" , 56, [1,2,3,4] , True)

In [190]:
t1[1]

56

In [191]:
t1[1] = 100

TypeError: 'tuple' object does not support item assignment

In [192]:
[100]

[100]

In [195]:
t2 = (10)
print(t2)

10

In [196]:
type(t2)

int

In [197]:
t3 =(2,)

In [198]:
t3

(2,)

In [199]:
type(t3)

tuple

In [200]:
()

()

In [201]:
type(())

tuple

In [202]:
# parantheses inta jaruri nahi hai tuples ke liye

In [204]:
# packing and unpacking

In [205]:
t4 = 10,20,30

In [206]:
t4

(10, 20, 30)

In [208]:
a,b,c = t4

In [210]:
print(a)
print(b)
print(c)

10
20
30

In [212]:
no1, no2,no3 = 100,200,300
# tuples packing and unpacking ho rha hai yha par

In [213]:
def foo():
    a=3
    b=6
    c=9
    return a,b,c

In [217]:
foo()

(3, 6, 9)

In [219]:
def foo():
    a=3
    b=6
    c=9
    return a,b,c

In [221]:
a,b,c =foo()

In [222]:
print (a,b,c)

3 6 9

In [223]:
list((10,20,30))

[10, 20, 30]

In [225]:
tuple([1,2,3])

(1, 2, 3)

In [226]:


# dictionary

In [8]:
d = {"A" : 100000, "D" : 80000, "C" : 20000}

In [9]:
print(d)

{'A': 100000, 'D': 80000, 'C': 20000}

In [10]:
type(d)

dict

In [11]:
d["Bill"]

KeyError: 'Bill'

In [12]:
d["A"]

100000

In [13]:
# key se only value nikal skte ahi dictionary me

In [14]:
d.get('bill')
# key present nahi hai phir bhi error nahi derha

In [15]:
d.get('A')

100000

In [16]:
hash("A")

-3479304044304498460

In [17]:
hash("a")

-2719252709291137188

In [18]:
d.keys()

dict_keys(['A', 'D', 'C'])

In [20]:
type(d.keys())

dict_keys

In [22]:
list(d.keys())

['A', 'D', 'C']

In [23]:
d.values()

dict_values([100000, 80000, 20000])

In [24]:
d.items()

dict_items([('A', 100000), ('D', 80000), ('C', 20000)])

In [27]:
list(d.items())
# list of tuples

[('A', 100000), ('D', 80000), ('C', 20000)]

In [28]:
for i in d.values():
    print(i)

100000
80000
20000

In [30]:
for i in d.items():
    print(i)
# i will be tuples

('A', 100000)
('D', 80000)
('C', 20000)

In [31]:
t =(20,9,3,5)

In [32]:
tuple(sorted(t))

(3, 5, 9, 20)

In [38]:
emp_db ={
    'HR' : {
        101 : 50000,
        105 : 40000
    },
    'TECH' : {
        918 : 60000,
        849 :59000,
        100 : 100000
    },
    'SALES' : {
        318 : 60000,
        949 :59000,
        900 : 100000
    }
}

In [39]:
type(emp_db)

dict

emp_db.keys(

In [40]:
emp_db.keys()

dict_keys(['HR', 'TECH', 'SALES'])

In [42]:
emp_db['TECH']

{918: 60000, 849: 59000, 100: 100000}

In [44]:
emp_db['TECH'][918]

60000

In [45]:
# avereage slary batanai hai sabki dept wise

In [46]:
for depart in emp_db:
    values = list(emp_db[depart].values())
    print(depart,sum(values) / len(values))

HR 45000.0
TECH 73000.0
SALES 73000.0

#

In [47]:
# SET

In [48]:
s1 = {1,2,4,7,4,9,6,3,7}
print(s1)

{1, 2, 3, 4, 6, 7, 9}

In [49]:
type(s1)

set

In [50]:
s =set

In [52]:
s1[0]
# 'set' object is not subscriptable, inme indexing ya slicing nahi karr skte ahi

TypeError: 'set' object is not subscriptable

In [53]:
s1.add(9)

In [54]:
print(s1)

{1, 2, 3, 4, 6, 7, 9}

In [55]:
s1.pop()

1

In [56]:
s1.remove(4)

In [57]:
s1

{2, 3, 6, 7, 9}

In [58]:
len("hello")

5

In [59]:
len(s1)

5

In [60]:
sum(s1)

27

In [62]:
max(s1)

9

In [63]:
# nlp : lanaguage modeling

In [64]:
sentence = "be the change you wish to see in the world"
sentence

'be the change you wish to see in the world'

In [66]:
sentence.split()

['be', 'the', 'change', 'you', 'wish', 'to', 'see', 'in', 'the', 'world']

In [67]:
len(sentence.split())

10

In [68]:
set(sentence.split())

{'be', 'change', 'in', 'see', 'the', 'to', 'wish', 'world', 'you'}

In [69]:
len(set(sentence.split()))

9

In [70]:
"change" in set(sentence.split())

True

In [71]:
s1={1,2,3}

In [72]:
s2= {3,4}

In [73]:
s1.union(s2)

{1, 2, 3, 4}

In [74]:
s1.intersection(s2)

{3}

In [75]:
s1.
# iske aage tab lga do to jitne fuctino hum use karr skte hai wo pta chl jayega

SyntaxError: invalid syntax (2962974321.py, line 1)

functional programming

In [76]:
# esa function baanan chahta jsiko bas use krna hai and aage niklna hia usko koi save wave nahi krna hai..

In [4]:
def cube(x):
    return x**3

In [5]:
cube(4)

64

In [6]:
lambda x : x**3

In [7]:
(lambda x : x**3)(3)
# lamba dunction hi hai wo jisko use and throw krna hota hai ..

27

In [8]:
(lambda x,y : x**2 + y**2)(3,4)

25

In [9]:
# everything in python is object ..

In [10]:
print(type(cube))
# so wo jo funcn hai na upar me wo bhi objedt hai class fucntion ka

<class 'function'>

In [13]:
(lambda n :3*n)(3)

9

In [15]:
nth_multiple_of_3 = lambda n : 3*n
nth_multiple_of_3(7)

21

In [17]:
def create_multiple(num):
    return lambda n : num*n

In [18]:
nth_multiple_of_6 = create_multiple(6)

In [20]:
nth_multiple_of_6(6)

36

In [21]:
# nth_multiple_of_6 ye part lambda n : num*n isko hold krr rha hai .. aur uski value abhi 6 hai qki humne 6 hi to diya hai ..

In [23]:
def content(x):
    x[0] = 10
    return x

x = [1,2,3]
print(x)
print(content(x))
print(x)

[1, 2, 3]
[10, 2, 3]
[10, 2, 3]

In [24]:
# niche me list change nahi hona tha par hogya , qki element are passed by reference.

In [27]:
def content(x):
    x = [4,5,6] # this is new object 
    return x

x = [1,2,3]
print(x)  #noramlly jo hona hi tha 
print(content(x)) #content x matlab wo x 1 2 3 ko point krrha hia lekin ab humne pointer ko change kr diya toward 4 5 6
print(x) # outer x still pointing towards x

#humne kahi bhi contetnt change nahi kiya hai bas reference change krr diya hai

[1, 2, 3]
[4, 5, 6]
[1, 2, 3]

In [29]:
# //map

In [30]:
lst = [1,3,6,8,7,8,10]

In [35]:
# map 2 data leta hai like 1. it takes a data and type of mutation ki what type of operations you want to do ??
# def temp:
#     return x**2
m =(map(lambda x : x**2 ,lst))
list(m)

[1, 9, 36, 64, 49, 64, 100]

In [36]:
heights = [152,182,175,161,180,171,146]

In [39]:
def converter(h):
    if h >180:
        return 'L'
    elif h>160:
        return 'M'
    return 's'

In [41]:
list(map(converter, heights))

['s', 'L', 'M', 'M', 'M', 'M', 's']

FILTER

In [46]:
f =filter(lambda h : h>160 , heights)
list(f)

[182, 175, 161, 180, 171]


REDUCE

In [47]:
from functools import reduce

In [49]:
lst

[1, 3, 6, 8, 7, 8, 10]

In [50]:
sum(lst)

43

In [52]:
reduce (lambda x,y : x+y ,lst)

43

In [53]:
reduce (lambda x,y : x*y ,lst)

80640

In [54]:
# recude me max ele kese nikalhyene
reduce(lambda x,y :x if x>y else y , lst)

10

In [55]:
reduce(lambda x,y :max(x,y) , lst)

10