class student:
    pass
#o

### OOPS

In [210]:
class student:
    pass
s1 = student()
# instance

In [211]:
type(s1)
# iska tupe stuendt hi hia

__main__.student

In [212]:
s1.name = "John"

In [213]:
print(s1.name)

John

In [214]:
s2.name

'Bill'

In [215]:
class student:
    def __init__(self):
        self.name ="un-named"

In [216]:
s1 = student()
s2 = student()

In [217]:
s1.name

'un-named'

In [218]:
s2.name

'un-named'

In [219]:
class student:
    def __init__(self): # ye self jo hai wo object ko refer krta hai
        
        print("Creating a new student...")
        print(self)
        self.name ="un-named"

In [220]:
s1 = student()

# address dekh line ka ke o/p ka bhi and line 19 ke o/p ka bhi .. wo bhi same hai

Creating a new student...
<__main__.student object at 0x000001BB28736910>

In [221]:
s2= student()

Creating a new student...
<__main__.student object at 0x000001BB2871D090>

In [222]:
s1

In [223]:
s2

In [224]:
# paramaterized constructor .. qki upar me dono student ka naam same hi aarha tha 
# PC bolta hia ki aapko naam bhi pass krna hoga .
class student :
    def __init__(self,new_name):
        print("Creating a new student...")
        self.name=new_name

In [225]:
s1=student("John")
s2=student("bill")

Creating a new student...
Creating a new student...

In [226]:
s1.name

'John'

In [227]:
s2.name

'bill'

In [228]:
type(student)
# type is a class and class is a type

type

In [229]:
class student :
# class variable
    count =1
#     constructor
    def __init__(self,new_name):
        print("Creating a new student...")
        self.name=new_name

In [230]:
s1 = student("John")

# iusntance varilve = object name then varvialbe name

Creating a new student...

In [231]:
student.count

1

In [232]:
student.count = 15

In [233]:
student.count

15

In [234]:
class student :
# class variable
    count =1
#     constructor
    def __init__(self,new_name):
        print("Creating a new student...")
        self.name=new_name
        self.id = student.count
        student.count += 1

In [235]:
s1 = student("John")
s2= student("Bill")

Creating a new student...
Creating a new student...

In [236]:
student.count
# student.count at any moment says that next id will be given as 3, but mera answer to 4 aarha hai

3

In [237]:
print(s1.id)

1

In [238]:
print(s1.name)

John

In [239]:
print(s2.id,s2.name)

2 Bill

In [240]:
print(s3.id,s3.name)

1 John

In [241]:
s2.count =40

In [242]:
# s1.count +=1

In [243]:
print(student.count) #
print(s1.count)
print(s2.count) # ye 40 op de rha hai . s2.count =40 ye likhne de s2 me naya property bann gya for s2.

3
3
40

In [244]:
#class as class varialbe ?? 
#varialbe data ki tarah hote hai .

In [245]:
for item in [s1,s2]:
    print(item.id,item.name)

1 John
2 Bill

In [246]:
calss A():
    def __init__ (self,count=5):
        self.count=count

obj1 = A()
obj2 = A(7)

print(obj1.count)
print(obj2.count)

SyntaxError: invalid syntax (923952414.py, line 1)

In [247]:
lst = list([1,2,3,4,5])

In [248]:
print(lst)
#string fucntion
# 2 string function in java

[1, 2, 3, 4, 5]

In [249]:
class student :
# class variable
    count =1
#     constructor
    def __init__(self,new_name):
        print("Creating a new student...")
        self.name=new_name
        self.id = student.count
        student.count += 1
    def __str__(self):
        return "printing object"
    def __str__(self): # str is magic method 
        return f"My name is {self.name}"
    
    def __repr__(self) :
        return f"My name is {self.name} with id {self.id}"
    
    #how str and repr fucntion are diff from esach other

In [250]:
s1 = student("John")
s2 = student("Bill")

Creating a new student...
Creating a new student...

In [251]:
str(s1)

'My name is John'

In [252]:
print(s1)

My name is John

In [253]:
print(s2)

My name is Bill

In [254]:
# str(s1) yha any boject ko string me convert karr rhe hai

In [255]:
s1

My name is John with id 1

In [256]:
#str means string is being called .

In [257]:
student_lst = [s1,s2]

In [258]:
student_lst

[My name is John with id 1, My name is Bill with id 2]

In [259]:
s3 = s1

In [260]:
s3

My name is John with id 1

In [261]:
a = 5
b = 8

In [262]:
a + b

13

In [263]:
a.__add__(b) # upar wala add is tarah se bhi kaam kr skta hai aur ye python me inbuit hai

13

In [264]:
dir(a)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'as_integer_ratio',
 'bit_count',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [265]:
s1

My name is John with id 1

In [266]:
s2

My name is Bill with id 2

In [267]:
s1 == s2

False

In [268]:
s1>s2
#'>' not supported between instances of 'student' and 'student'

TypeError: '>' not supported between instances of 'student' and 'student'

In [269]:
class student :
# class variable
    count =1
#     constructor
    def __init__(self,new_name):
        print("Creating a new student...")
        self.name=new_name
        self.id = student.count
        student.count += 1
    def __str__(self):
        return "printing object"
    def __str__(self): # str is magic method 
        return f"My name is {self.name}"
    
    def __repr__(self) :
        return f"My name is {self.name} with id {self.id}"
    
    #how str and repr fucntion are diff from esach other 
    
    def intro(self):
        print(f"Hello! My name is {self.name}, and roll no. is {self.id}")

In [270]:
# yha s1 ko bolna hia ki khud ko intorduce kro

In [271]:
s1 = student("John")
s2 = student("Bill")

Creating a new student...
Creating a new student...

In [272]:
s1.intro()

Hello! My name is John, and roll no. is 1

In [273]:
s2.intro()

Hello! My name is Bill, and roll no. is 2

In [274]:
# class student :
# # class variable
#     count =1
# #     constructor
#     def __init__(self,new_name):
#         print("Creating a new student...")
#         self.name=new_name
#         self.id = student.count
#         student.count += 1
#     def __str__(self):
#         return "printing object"
#     def __str__(self): # str is magic method 
#         return f"My name is {self.name}"
    
#     def __repr__(self) :
#         return f"My name is {self.name} with id {self.id}"
#     def __repr__(self) :
#         return f"My acc no. is {self.id} with acc balance {} "
    
#     #how str and repr fucntion are diff from esach other 
    
#     def intro(self):
#         print(f"Hello! My name is {self.name}, and roll no. is {self.id}")

In [275]:
class Account:
    acc_no = 1001
    def __init__ (self, balance):
        self.accno = Account.acc_no
        Account.acc_no += 1
        self.acc_balance = balance
        
    def __repr__(self):
        return f"Acc{self.accno} has balance{self.acc_balance}"
    def deposit(self,amount):
        if amount>0:
            
            print("Adding money....")
            self.acc_balance += amount
    def withdrawl(self,amount):
        if(amount>self.acc_balance):
            print("insufficient balance")
            
        else:
            print("krrrrrrrr...")
            self.acc_balance -= amount

In [276]:
a1 = Account(20000)

In [277]:
print(a1)

Acc1001 has balance20000

In [278]:
a1

Acc1001 has balance20000

In [279]:
a1.withdrawl(25000)

insufficient balance

In [280]:
a1.withdrawl (5000)

krrrrrrrr...

In [281]:
a1.deposit(1000)

Adding money....

In [282]:
a1

Acc1001 has balance16000

In [283]:
#drawback

a1.deposit(-5000)

In [284]:
a1 # a1 ne saare main functionality ko encapsulate krr diya hai tabhi to hum sirf a1 likh kar sab access karr paate hai

Acc1001 has balance16000

In [285]:
#dekh yha deposit me -5000 kiya aur outoput  change hogya to upar me if loop me hi likh denge ki 
#deposit ke case me amount must be >0

### INHERTENCE

In [286]:
class Account:
    acc_no = 1001
    def __init__ (self, balance):
        print("creating new account")
        self.accno = Account.acc_no
        Account.acc_no += 1
        self.acc_balance = balance
        self.max_trans = 2
        self.num_trans = 0
    def __repr__(self):
        return f"Acc{self.accno} has balance{self.acc_balance}"
    def deposit(self,amount):
        if amount>0 and self.nums_trans<self.max_trans:
            
            print("Adding money....")
            self.acc_balance += amount
            self.num_trans=1
            
    def withdrawl(self,amount):
        if(amount>self.acc_balance and self.num_trans<self.max_trans):
            
            print("insufficient balance")
            
        else:
            print("krrrrrrrr...")
            self.acc_balance -= amount
            self.num_trans +=1
            
class SavingAccount(Account): #ye dekh le is tarike se inherit krte hai aur humne bas ye class ese likh kar sarer functions 
                              #accounts class ke access kr liye hai..
    def __init__(self):
        self.max_trans =2
        self.num_trans =0
class CurrentAccount(Account):
    def __init__(self):
        self.max_trans =10
        self.num_trans =0

In [287]:
sa_1 = SavingAccount(Account)

TypeError: SavingAccount.__init__() takes 1 positional argument but 2 were given

In [288]:
sa_1.acc_balance

15000

In [289]:
sa_1 = a1

In [290]:
sa_1

Acc1001 has balance16000

In [291]:
sa_1.acc_balance

16000

In [292]:
sa_1.deposit(10000)

Adding money....

In [293]:
sa_1

Acc1001 has balance26000

In [294]:
sa_1.deposit(5000)

Adding money....

In [295]:
sa_1

Acc1001 has balance31000

In [296]:
sa_1.deposit(3000)

Adding money....

In [297]:
sa_1

Acc1001 has balance34000

In [316]:
class Account:
    acc_no = 1001
    def __init__ (self, balance):
        print("creating new account")
        self.accno = Account.acc_no
        Account.acc_no += 1
        self.acc_balance = balance
        self.max_trans = 2
        self.num_trans = 0
    def __repr__(self):
        return f"Acc{self.accno} has balance{self.acc_balance}"
    def deposit(self,amount):
        if amount>0 and self.num_trans<self.max_trans:
            
            print("Adding money....")
            self.acc_balance += amount
            self.num_trans=1
            
    def withdrawl(self,amount):
        if(amount>self.acc_balance and self.num_trans>self.max_trans):
            
            print("insufficient balance")
            
        elif(self.num_trans > self.max_trans):
            print("limit crossed")
        else:
            print("krrrrrrrr...")
            self.acc_balance -= amount
            self.num_trans +=1
            
  
class SavingAccount(Account): #ye dekh le is tarike se inherit krte hai aur humne bas ye class ese likh kar sarer functions 
                              #accounts class ke access kr liye hai..
    def __init__(self,balance):
        self.max_trans =2
        
        self.num_trans =0
        #calling parent constructor otherwise properties inherit nahi karr payenge.
        
        super().__init__(balance)
class CurrentAccount(Account):
    def __init__(self,balance):
        self.max_trans =10
        self.num_trans =0
        super().__init__(balance) #super helps in

In [317]:
sa_1 = SavingAccount(Account)
ca_1 = CurrentAccount(Account)

creating new account
creating new account

In [318]:
sa_1.max_trans

2

In [319]:
ca_1.max_trans

2

In [320]:
print(sa_1)

Acc1001 has balance<class '__main__.Account'>

In [321]:
print(ca_1)

Acc1002 has balance<class '__main__.Account'>

In [322]:
sa_1 = SavingAccount(10000)

creating new account

In [323]:
sa_1.deposit(5000)

Adding money....

In [324]:
sa_1

Acc1003 has balance15000

In [325]:
sa_1.num_trans

1

In [326]:
sa_1.withdrawl(500)

krrrrrrrr...

In [327]:
sa_1.num_trans

2

In [328]:
sa_1.deposit(5000)
sa_1.deposit(5000)
sa_1.deposit(5000)

In [329]:
sa_1

Acc1003 has balance14500

In [330]:
sa_1.withdrawl(6000)

krrrrrrrr...

In [331]:
sa_1.num_trans

3

In [334]:
# class Account:
#     acc_no = 1001
#     def __init__ (self, balance):
#         print("creating new account")
#         self.accno = Account.acc_no
#         Account.acc_no += 1
#         self.acc_balance = balance
#         self.max_trans = 2
#         self.num_trans = 0
#     def __repr__(self):
#         return f"Acc{self.accno} has balance{self.acc_balance}"
#     def deposit(self,amount):
#         if amount>0 and self.num_trans<self.max_trans:
            
#             print("Adding money....")
#             self.acc_balance += amount
#             self.num_trans=1
            
#     def withdrawl(self,amount):
#         if(amount>self.acc_balance and self.num_trans>self.max_trans):
            
#             print("insufficient balance")
            
#         elif(self.num_trans > self.max_trans):
#             print("limit crossed")
#         else:
#             print("krrrrrrrr...")
#             self.acc_balance -= amount
#             self.num_trans +=1
            
#     def getInterest(self):
#         pass
# class SavingAccount(Account): #ye dekh le is tarike se inherit krte hai aur humne bas ye class ese likh kar sarer functions 
#                               #accounts class ke access kr liye hai..
#     def __init__(self,balance):
#         self.max_trans =2
        
#         self.num_trans =0
#         #calling parent constructor otherwise properties inherit nahi karr payenge.
        
#         super().__init__(balance)
#     def getInterest(self):
#         interest = 0.05*self.acc_balance
#         print(f"Interest earned : {interest}")
# class CurrentAccount(Account):
#     def __init__(self,balance):
#         self.max_trans =10
#         self.num_trans =0
#         super().__init__(balance) #super helps in 
#     def getInterest(self):
#         interest = 0.05*self.acc_balance
#         print(f"Interest earned : {interest}")

In [336]:
class Account:
    acc_no = 1001

    def __init__(self, balance):
        print("Creating new account")
        self.accno = Account.acc_no
        Account.acc_no += 1
        self.acc_balance = balance
        self.max_trans = 0
        self.num_trans = 0

    def __repr__(self):
        return f"Acc{self.accno} has balance {self.acc_balance}"

    def deposit(self, amount):
        if amount > 0 and self.num_trans < self.max_trans:
            print("Adding money....")
            self.acc_balance += amount
            self.num_trans += 1
        else:
            print("Deposit limit crossed or invalid amount")

    def withdrawl(self, amount):
        if self.num_trans >= self.max_trans:
            print("Transaction limit crossed")
        elif amount > self.acc_balance:
            print("Insufficient balance")
        else:
            print("Withdrawing money....")
            self.acc_balance -= amount
            self.num_trans += 1

    def getInterest(self):
        pass


class SavingAccount(Account):
    def __init__(self, balance):
        super().__init__(balance)
        self.max_trans = 2

    def getInterest(self):
        interest = 0.05 * self.acc_balance
        print(f"Interest earned: {interest}")


class CurrentAccount(Account):
    def __init__(self, balance):
        super().__init__(balance)
        self.max_trans = 10

    def getInterest(self):
        interest = 0.03 * self.acc_balance
        print(f"Interest earned: {interest}")


# # -------------------- TESTING --------------------

# sa_1 = SavingAccount(5000)
# print(sa_1)

# sa_1.deposit(1000)
# sa_1.deposit(500)
# sa_1.deposit(200)   # limit crossed

# sa_1.withdrawl(1000)

# sa_1.getInterest()
# print(sa_1)

# print("---------------")

# ca_1 = CurrentAccount(10000)
# ca_1.deposit(2000)
# ca_1.withdrawl(3000)
# ca_1.getInterest()
# print(ca_1)

In [339]:
sa_1 = SavingAccount(5000)
ca_1 = CurrentAccount(10000)

Creating new account
Creating new account

In [340]:
sa_1.getInterest()

Interest earned: 250.0

In [341]:
ca_1.getInterest()

Interest earned: 300.0

In [358]:
class Account():
    def __init__(self,balance = 10000):
        self.balance = balance
    def get_balance(self):
        return self.balance

In [359]:
acc = Account()

In [360]:
acc.get_balance()

10000

In [361]:
acc.balance

10000

In [362]:
#yha se main kaam start 
acc.balance = 99999

In [363]:
acc.get_balance()

99999

In [364]:
#dekh change hogya na uapr me wese bhi abhi ek technique btaunga jisse change nahi hoga

In [354]:
class Account():
    def __init__(self,balance = 10000):
        self.__balance = balance #__ lagakar private variable ban liya isko ab change nahi hoga bahar se 
    def get_balance(self):
        return self.balance

In [355]:
acc = Account()

In [366]:
acc.get_balance()

99999

In [367]:
acc.__balance

AttributeError: 'Account' object has no attribute '__balance'

In [369]:
#dekh aagya na error, na hi access krskte baalance ko na hi change karr skte ahi , getter setter se karr skta hai akaam